{% extends 'base.html' %}
{% block content%}
<h2 class="text-content">DETAIL</h2>
<hr />
<p>제목: {{ article.title }}</p>
<p>내용: {{ article.content }}</p>
<p>작성시간: {{ article.created_at|date:"SHORT_DATE_FORMAT" }}</p>
<form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-danger">DELETE</button>
    </form>
<a href="{% url 'articles:edit' article.pk %}" class="btn btn-primary">[EDIT]</a><br>
<a href="{% url 'articles:dinner' %}">[back]</a>
<hr />
{% endblock%}
